/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
  margin: 50px auto;
  width: 700px;
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.main-title {
  text-align: center;
}
.posts-list-item {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  margin-bottom: 50px;
  padding: 20px 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0.2);
}
.post-index {
  position: absolute;
  top: -20px;
  left: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: aquamarine;
  z-index: 1;
}
.post-title {
  margin: 0;
}
.post-text {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  transition: all 0.3s ease;
}

.post-text.expanded {
  -webkit-line-clamp: unset;
  overflow: visible;
  white-space: normal;
}
.post-link {
  text-align: center;
  color: cornflowerblue;
  z-index: 3;
  cursor: pointer;
  pointer-events: auto;
}

/*=============== work-together mobile==============*/
.work-together-container {
  padding-top: 32px;
  background-image: url('../img/work-together/work-together-mobile@1x.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20% 100%;
}
.work-together-section-info {
  padding-top: 32px;
  margin: 0 auto;
}
.work-together-logo {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  padding-bottom: 63px;
}
.work-together-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}
.work-together-title-span {
  color: rgba(237, 59, 68, 1);
}

.work-together-email-input,
.work-together-comment {
  background-color: transparent;
  width: 343px;
  height: 44px;
}
.work-together-email-input {
  border: none;
  margin-bottom: 16px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-together-comment {
  outline: none;
  border-left: none;
  border-right: none;
  margin-bottom: 32px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-together-email-input:focus,
.work-together-comment:focus {
  border: 1px solid rgba(250, 250, 250, 0.2);
}
.work-together-form-label {
  background-color: transparent;
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 500;
  line-height: 1px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(250, 250, 250, 0.6);
}
.work-together-form-user-btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(237, 59, 68, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(250, 250, 250, 1);
  border: none;
  margin-bottom: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-together-form-user-btn:hover,
.work-together-form-user-btn:focus {
  background-color: rgba(224, 55, 63, 1);
}
.work-together-contacts-list {
  display: flex;
  gap: 4px;
}
.work-together-email {
  width: 178px;
  height: 37px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;

  padding: 10px 12px 10px 12px;
}
.work-together-contact-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.work-together-telephone {
  width: 118px;
  height: 37px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;

  padding: 10px 12px 10px 12px;
}
.work-phone {
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.work-together-address {
  padding-bottom: 32px;
  margin: 0 auto;
}
/*=============== /work-together mobile==============*/
/*=============== work-togethe tablet==============*/
@media screen and (min-width: 768px) {
  .work-together-container {
    padding-right: 0;
    padding-left: 0;
    position: relative;
    padding-top: 48px;
    background-image: url('../img/work-together/work-together-tablet@1x.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30% 100%;
  }
  .work-together-section-info {
    padding-top: 80px;
    padding-left: 32px;
  }
  .work-together-img {
    width: 70px;
    height: 70px;
  }
  .work-together-logo {
    padding-bottom: 0px;
    gap: 20px;
  }
  .work-together-form {
    padding-top: 64px;
  }

  .work-together-title {
    font-size: 64px;
  }
  .work-together-email-input,
  .work-together-comment {
    width: 245px;
  }
  .work-together-form-for-users {
    display: flex;
    gap: 32px;
  }
  .work-together-form-user-btn {
    width: 150px;
    height: 150px;
    margin-bottom: 0px;
    position: absolute;
    transform: translateY(-35%);
    right: 45px;
  }
  .work-together-email-input {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    margin-bottom: 78px;
  }
  .work-together-comment {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    margin-bottom: 78px;
    border-top: none;
  }
  .work-together-comment::placeholder {
    padding-top: 10px;
  }
  .work-together-email {
    width: 239px;
    height: 55px;
    padding: 18px 32px 18px 32px;
    margin-right: 8px;
  }

  .work-together-telephone {
    width: 171px;
    height: 55px;
    padding: 18px 32px 18px 32px;
  }
  .work-together-address {
    padding-bottom: 169px;
    margin: 0 auto;
  }
}
/*=============== /work-together tablet==============*/
/*=============== work together desktop==============*/
@media screen and (min-width: 1440px) {
  .work-together-container {
    padding-top: 82px;
    background-image: url('../img/work-together/work-together-desktop@1x.png');
    background-size: 30% 100%;
  }
  .work-together-section-info {
    padding-left: 196px;
  }
  .work-together-logo {
    padding-bottom: 64px;
    gap: 20px;
    row-gap: 0;
    .together:nth-child(3) {
      order: 3;
      width: 100%;
    }
  }
  .work-together-form {
    padding-top: 0;
  }
  .work-together-email-input,
  .work-together-comment {
    width: 390px;
  }
  .work-together-form-user-btn {
    transform: translateY(-35%);
    right: 200px;
  }
}
